<%- include('header'); %>

  <div id="maincontent">
    <h3>Admin</h3>
    <b>Registered Users</b><br/>
    <!--- Output List of users from Client.js (NOTE: Not anymore) !-->
    <ul id="registered-users-list"></ul>
  </div>

<%- include('footer'); %>
