    <div id="footer">V 1.0 - 1/8/2018</div>

    <!--Include the mithril client-side library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mithril/1.1.6/mithril.min.js"
      integrity="sha256-P9jgl8BwiS6Vj1m0ihcRW2xscW6uoC9cE4AUkongyuY="
      crossorigin="anonymous"></script>

    <!--Include the socket.io websockets library -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="/public/client.js"></script>
  </body>
</html>
