    <div id="footer">V 1.0 - 1/8/2018</div>

    <!--Include the Socket.io real time library -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/client.js"></script>
  </body>
</html>
