<%- include('header'); %>
<div id="thread-list-container">
  <div id='maincontent'>
    <div class="table">
      <div class="table-thead">
        <div class='table-tr table-header'>
          <div class='table-td subject'>Subject</div><div class='table-td postcount'>Posts</div><div class='table-td lastreply'>Last Reply</div>
        </div>
      </div>

      <div id="threadsTableTbody" class="table-tbody">
        <div class='table-tr'>
          <div class='table-td'>Hello crazy crazy world</div><div class='table-td'>0</div><div class='table-td'>01/01/2018 18:45</div>
        </div>
      </div>

    </div>
  </div>
</div>

  <div id="new-thread-form">
    <div>
      <form method="POST" action="/newthread">
        Subject: <input name="subject" id="subject-input" type="text" /> <input type="submit" value="Create" /></br>
        <textarea name="threadcontent" id="new-thread-textarea"></textarea></br>
      </form>

    </div>
  </div>

<%- include('footer'); %>
