<%- include('header'); %>
<div id="thread-list-container">
  <div id='maincontent' class="table">
    <div class='table-tr table-header'>
      <div class='table-td subject'>Subject</div><div class='table-td postcount'>Posts</div><div class='table-td lastreply'>Last Reply</div>
    </div>

    <div class='table-tr'>
      <div class='table-td'>Hello crazy crazy world</div><div class='table-td'>0</div><div class='table-td'>01/01/2018 18:45</div>
    </div>
    <div class='table-tr'>
      <div class='table-td'>Hello crazy crazy world world world world</div><div class='table-td'>0</div><div class='table-td'>01/01/2018 18:45</div>
    </div>
    <div class='table-tr'>
      <div class='table-td'>Hello crazy crazy world</div><div class='table-td'>0</div><div class='table-td'>01/01/2018 18:45</div>
    </div>
    <div class='table-tr'>
      <div class='table-td'>Hello crazy crazy world</div><div class='table-td'>0</div><div class='table-td'>01/01/2018 18:45</div>
    </div>
    <div class='table-tr'>
      <div class='table-td'>Hello crazy crazy world</div><div class='table-td'>0</div><div class='table-td'>01/01/2018 18:45</div>
    </div>
    <div class='table-tr'>
      <div class='table-td'>Hello crazy crazy world</div><div class='table-td'>0</div><div class='table-td'>01/01/2018 18:45</div>
    </div>
    <div class='table-tr'>
      <div class='table-td'>Hello crazy crazy world</div><div class='table-td'>0</div><div class='table-td'>01/01/2018 18:45</div>
    </div></br></br>
    <b>New Thread</b>
  </div>
</div>

  <div id="new-thread-form">
    <div>
      Subject: <input id="subject-input" type="text"/ /> <input type="submit" value="Create"/ /></br>
      <textarea id="new-thread-textarea"></textarea></br>

    </div>
  </div>

<%- include('footer'); %>
