<%- include('header'); %>

  <div id='maincontent' class="table">
    <div class='table-tr'>
      <div class='table-td subject'>Subject</div><div class='table-td postcount'>Posts</div><div class='table-td lastreply'>Last Reply</div>
    </div>
  </div>

<%- include('footer'); %>
