* {
  box-sizing: border-box;
}
html{
}
body{
  background-color: black;
  color: grey;
}
#maincontent{
  flex-grow: 1;
  background-color: black;
  color: white;
  padding-left: 5px;
  padding-top: 5px;
}
#thread-list-container{
  max-height: 20%;
}
#container{
  display: flex;
}
#header{
  background-color: #000;
  color: #ffffff;
  padding-left: 5px;
  vertical-align: top;
}
#header-logo-div{
  font-size: 16pt;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 20px;
}
#header-logo-div2{
  flex-grow: 1;
  text-align: right;
  padding-top: 5px;
  padding-right: 5px;
}
.table{
  display: table;
  width: 100%;
}
.table-tr{
  display: table-row;
  flex-grow: 1;
}
.table-td{
  display: table-cell;
  text-align: center;
}
.table-header{
  background-color: #003399;
}
.subject{
  width: 50%;
}
.postcount{
  width: 10%;

}
.lastreply{
  width: 40%;
}
h2, a{
  color: #ffffff;
  text-decoration: none;
}
a{
  display: inline-block;
}
.menu-item{
  min-height: 30px;
  color: #ffffff;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
}
.menu-item:hover{
  background-color: rgb(39, 100, 192);
}
#header-comms{
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  flex-grow: 0;
  flex-shrink: 0;
}
#new-thread-form{
  background-color: #003399;
  color: white;
  padding: 5px;
  width: 100%;
}
#new-thread-textarea{
  min-width: 95%;
  min-height: 50px;
}
#subject-input{
  min-width: 150px;
  width: 50%;
}
