* {
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
  background-color: black;
  color: grey;

  /*Use flexbox container display*/
  display: flex;
  /*Use flexbox container column*/
  flex-direction: column;
}
#maincontent{
  /*Enable flexbox item growing*/
  flex-grow: 1;

  background-color: black;
  color: white;
  padding-left: 5px;
  padding-top: 5px;
}
#thread-list-container{
  /*Enable flexbox item growing*/
  flex-grow: 1;

  /*Use flexbox container display*/
  display: flex;
  /*Use flexbox container column*/
  flex-direction: column;
}
#container{
  /*Use flexbox container display*/
  display: flex;
}
#header{
  /*Disable flexbox item shrinking*/
  flex-shrink: 0;
  padding-bottom: 5px;
  background-color: #000;
  color: #ffffff;
  padding-left: 5px;
  vertical-align: top;
}
#username-input, #password-input{
  width: 100px;
}
#header-logo-div{
  font-size: 16pt;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 20px;
}
#header-logo-div2{
  flex-grow: 1;
  text-align: right;
  padding-top: 5px;
  padding-right: 5px;
}
#footer {
  /*Disable flexbox item shrinking*/
  flex-shrink: 0;
}
.table{
  display: table;
  width: 100%;
}
.table-thead {
  display: table-header-group;
  background-color: #003399;
}
.table-tbody {
  display: table-row-group;
}
.table-tfoot {
  display: table-footer-group;
}
.table-tr{
  display: table-row;
}
.table-td{
  display: table-cell;
  text-align: center;
}
.subject{
  width: 50%;
}
.postcount{
  width: 10%;

}
.lastreply{
  width: 40%;
}
h2, a{
  color: #ffffff;
  text-decoration: none;
}
a{
  display: inline-block;
}
.menu-item{
  min-height: 30px;
  color: #ffffff;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
}
.menu-item:hover{
  background-color: rgb(39, 100, 192);
}
#header-comms{
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  flex-grow: 0;
  flex-shrink: 0;
}
#new-thread-form{
  /*Disable flexbox item shrinking*/
  flex-shrink: 0;

  background-color: #003399;
  color: white;
  padding: 5px;
  width: 100%;
}
#new-thread-textarea{
  min-width: 95%;
  min-height: 50px;
}
#subject-input{
  min-width: 150px;
  width: 50%;
}
